* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url("../img/main_bg.png") center center / cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big {
    text-align: center;
    margin-top: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_text {
    margin-top: 23px;
    ont-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 0 13px;
}

.promo .promo_text span {
    font-weight: bold;
    color: #f9bf3b;
}

.promo .promo_btn {
    display: block;;
    margin: 0 auto;
    margin-top: 73px;
    padding: 28px 30px 29px 29px;
    box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: Roboto;
    font-size: 21px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 33px;
}

.more .more_text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #fff;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    padding: 85px 0 0 75px;
    background-color: #efefef;
}

.waiting .waiting_header, .finish .finish_header {
    margin: 0 284px 18px 292px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}

.waiting .waiting_divider, .finish .finish_divider {
    display: block;
    width: 217px;
    height: 4px;
    margin: 0 auto;
    margin-top: 17px;
    margin-bottom: 18px;
    background-color: #f9bf3b;
}

.waiting .waiting_subheader {
    font-family: Roboto;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.waiting .waiting_wrapper {
    justify-content: space-between;
    margin-top: 45px;
    display: flex;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    vertical-align: top;
}

.waiting .waiting_wrapper .waiting_descr {
    margin-top: 33px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: left;
    color: #299cbd;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: justify;
    color: #4a4a4a;
}

.optimization .optimization_text span {
    font-weight: bold;
}

.optimization .optimization_img {
    position: absolute;
    margin-left: -240px;
    top: -54px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/second_bg.png") center center/cover no-repeat;
}

.finish .finish_header {
    color: #efefef;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 125px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_decr {
    margin-top: 25px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}

.prev_section {
    min-height: 628px;
    background-color: #efefef;
}

.prev_section .surprise .gift {
    display: block;
    margin: 0 auto;
    margin-top: 86px;
    margin-bottom: 42px;
}

.prev_section .prev_descr {
    width: 1131px;
    height: 115px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #252525;

}

.prev_section .prev_section_btn {
    display: block;
    margin: 0 auto;
    margin-top: 52px;
    padding: 28px 30px 29px 29px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.11);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: Roboto;
    font-size: 21px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-bottom: 87px;
}
.last{
    min-height: 515px;
}
.last .photo_comp{
    display: block;
    margin: 0 auto;
    margin-top: 82px;
}
.last .last_text{
    margin-top: 37px;
    text-align: center;
}
.last .last_text span.first{
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}

.last .last_text span.second{
    display: block;
    margin-top: 30px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.33;
    letter-spacing: normal;
    text-align: center;
    color: #299cbd;
}

.last .last_text span.third{
    display: block;
    margin-top: 25px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.87;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.footer_1{
    min-height: 169px;
    background: #1A1A1A;
}
.footer_1 .footer1{
    margin: 0 auto;
    color:white ;
    text-align: center;
}
.footer_text{
   padding: 57px;
    text-align: center;
}








